name: Build Arcana Miner

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential cmake libboost-all-dev libssl-dev pkg-config

    - name: Force Fresh Engine Download
      run: |
        rm -rf engine
        git clone --recursive https://github.com/monero-project/monero.git engine

    - name: Build Engine
      run: |
        cd engine
        mkdir build
        cd build
        cmake ..
        make -j2

    - name: Upload Miner
      uses: actions/upload-artifact@v4
      with:
        name: arcana-miner-linux
        path: engine/build/bin/monerod
